* {
    background-color: black;
}

html,
body,
#container {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    font-family: Tahoma, Geneva, sans-serif	;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#info {
    position: absolute;
    top: -100%;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
    transition: top ease-in 0.2s;
    color: white;
    display: flex;
    flex-direction: row;
    opacity: 0.9;
}

#canvas {
    flex-basis: 20%;
    margin: 1em;
    box-sizing: content-box;
}

#content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#title{
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #333333;
    margin: 0em;
    /* p. */
}
#text {
    flex-grow: 1;
    padding: 1em;
    background-color: #002244;
    font-size: 1.5em;
    line-height: 1.8;
    color: #f0f0f0;
    overflow-y: auto;
    font-weight: 100;
    /* text-ali */
}
#text .sources{
    color: #333333;
    font-size: 0.75em;
}
#text a {
    background-color: inherit;
    font-size: 0.75em;
    padding-left: 1em;
}

#info.visible {
    top: 0px;
    transition: top ease-in 0.2s;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #444;
    opacity: 0.25;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#close {
    position: absolute;
    right: 22px;
    top: 22px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
}

#close:hover {
    opacity: 1;
    cursor: pointer;
}

#close:before,
#close:after {
    position: absolute;
    content: " ";
    height: 32px;
    width: 5px;
    background-color: darkgrey;
    /* position: relative; */
    background-color: #333;
}

#close:before {
    transform: translateX(13px) rotate(-45deg);
}

#close:after {
    transform: translateX(13px) rotate(45deg);
}
